<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>北邮B3018</string>
		<key>info</key>
		<dict>
			<key>isrent</key>
			<true/>
			<key>payway</key>
			<string>年付</string>
		</dict>
		<key>revenue</key>
		<string>¥25.00</string>
		<key>shares</key>
		<array>
			<array>
				<string>16:00-08:00</string>
				<string></string>
				<false/>
			</array>
			<array>
				<string>17:00-09:00</string>
				<string>日、一、二、四、五</string>
				<true/>
			</array>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>文慧园B1026</string>
		<key>info</key>
		<dict>
			<key>isrent</key>
			<false/>
			<key>payway</key>
			<string></string>
		</dict>
		<key>revenue</key>
		<string>¥16.00</string>
		<key>shares</key>
		<array>
			<array>
				<string>08:00-16:00</string>
				<string>日、六</string>
				<true/>
			</array>
			<array>
				<string>09:00-17:00</string>
				<string>日、一、二、四、五</string>
				<true/>
			</array>
		</array>
	</dict>
</array>
</plist>
